///////////////////////////////////////////////////////////////////////////////
// Media query variables
///////////////////////////////////////////////////////////////////////////////

$break-small: 500px;
$break-medium: 700px;
$break-large: 900px;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px
) !default;
